* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}


section{
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg1.png);
	background-size: cover;
	background-position: center;
}

section nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 0 8px rgba(0,0,0,0.6);
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

section nav .logo{
	font-size: 35px;
	color: #c72092;
	margin: 5px 0;
	cursor: pointer;
	position: relative;
	left: -4%;
}

section nav .logo span{
	color: #6c14d0;
	text-decoration: underline;
}

section nav ul{
	list-style: none;
}

section nav ul li{
	display: inline-block;
	margin: 5px 15px;
}

section nav ul li a{
	text-decoration: none;
	color: black;
	transition: 0.2s;
}

section nav ul li a:hover{
	color: #c72092;
}

 .icons i{
	margin: 0 4px;
	cursor: pointer;
	font-size: 18px;
	transition: 0.3s;
}

.icons i:hover{
	color: #c72092;
}

 .main_content{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

 .main_content .main_text h1{
	font-size: 90px;
	line-height: 70px;
	font-family: pyxidium quick;
	background: linear-gradient(to right, #c72092,#6c14d0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	top: 45px;
	left: 5%;
}

.main_content .main_text h1 span{
	font-size: 70px;
	background: linear-gradient(to right, #c72092,#6c14d0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main_content .main_text p{
	width: 600px;
	text-align: justify;
	line-height: 21px;
	position: relative;
	top: 85px;
	left: 5%;
}

 .main_content .main_image img{
	width: 650px;
	position: relative;
	left: 20px;
	top: 75px;
}

.social_icon{
	display: block;
	position: absolute;
	top: 50%;
	left: 98%;
	transform: translate(-50%,-50%);
	font-size: 19px;
	row-gap: 1rem;
}

.social_icon {
	display: grid;
	grid-template-columns: max-content;
	row-gap: 1rem;
}

 .social_icon i{
	margin: 8px 0;
	cursor: pointer;
	transition: 0.3s;
}

 .social_icon i:hover{
	color: #c72092;
}

.button {
	position: absolute;
	left: 6%;
	padding: 10px 20px;
	border-radius: 30px;
	background: linear-gradient(to right, #c72092,#6c14d0);
}

.button a {
	color: white;
	text-decoration: none;
}

 .button i{
	color: white;
	margin-left: 5px;
	transition: 0.3s;
}

.button:hover {
	transform: translateX(6px);
}

